@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Light theme "Soma" (default) */
:root {
  --important: rgba(255, 50, 220, 0.35);
  --transparent: rgba(255, 255, 255, 0);
  --font-default: rgb(40, 40, 40);
  --frosted-gray-1: rgba(220, 220, 220, 1);
  --frosted-gray-2: rgba(190, 190, 190, 1);
  --frosted-gray-3: rgba(170, 170, 170, 1);
  --frosted-gray-em: rgba(40, 20, 80, 0.2);
  --frosted-input-bg: rgba(60, 60, 220, 0.1);
  --frosted-input-em: rgba(60, 60, 220, 0.3);
  /* --frosted-panel-bg-1: Frosted blue top to solid bottom */
  --frosted-panel-bg-1: linear-gradient(0deg, rgba(30, 30, 60, 0.2) 20%, rgba(60, 60, 220, 0.2) 100%);
  /* --frosted-panel-bg-2: Frosted blue bottom to solid top */
  --frosted-panel-bg-2: linear-gradient(180deg, rgba(30, 30, 60, 0.2) 20%, rgba(60, 60, 220, 0.2) 100%);
  /* --frosted-panel-bg-3: Frosted blue top to transparent bottom */
  --frosted-panel-bg-3: linear-gradient(0deg, rgba(0, 0, 0, 0) 10%, rgba(60, 60, 220, 0.2) 100%);
  /* --frosted-panel-bg-4: Transparent top to frosted blue bottom */
  --frosted-panel-bg-4: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(60, 60, 220, 0.2) 100%);
  /* --frosted-panel-bg-5: Light gold sheen left to frosted blue right */
  --frosted-panel-bg-5: linear-gradient(90deg, rgba(220, 165, 30, 0.2) 20%, rgba(60, 60, 220, 0.2) 100%);
  /* --frosted-steel-1: Light blue gradient with stainless steel texture */
  --frosted-steel-1: repeating-linear-gradient(135deg,
    rgba(0,0,0,0.04) 0px,
    rgba(0,0,0,0.04) 2px,
    transparent 2px,
    transparent 4px),
    linear-gradient(135deg, rgb(165, 230, 235),rgb(115, 115, 230));
  /* --frosted-steel-2: Stainless steel gold sheen left to frosted blue right*/
  --frosted-steel-2: repeating-linear-gradient(135deg,
  rgba(0,0,0,0.04) 0px,
  rgba(0,0,0,0.04) 2px,
  transparent 2px,
  transparent 4px),
  linear-gradient(90deg, rgba(220, 165, 30, 0.2),rgba(60, 60, 220, 0.2));
}

/* Universal styles */
* {
  font-family: "Quicksand";
  color: var(--font-default);
}

body {
  background: var(--frosted-panel-bg-1);
  margin: 0 !important;
  overflow-x: hidden;
  padding: 0 !important;
  /* TODO - What do the below lines do? */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button:focus {
  outline: solid 2px;
}

input:focus {
  outline: none;
}

a:focus {
  outline: none;
}

/* Header styles */
header {
  background: var(--frosted-panel-bg-3);
  padding-bottom: 0.5em;
  /* position: sticky; */
  top: 0;
  transition: all 0.1s;
}

/* Footer styles */
footer {
  background: var(--frosted-panel-bg-4);
  font-size: small;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  text-transform: lowercase;
  transition: all 0.1s;
  width: 100%;
}

footer h4 { /* TODO - Temp selector */
 text-align: center;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6em;
  max-height: 2em;
  min-height: 2em;
}

.navbar a {
  text-decoration: none;
}

.navbar .title {
  font-size: x-small;
  margin-left: 1.6em;
  transition: all 0.1s;
}

.navbar .title:hover {
  transform: translateY(-0.2em);
}

.navbar .logged-out {
  display: flex;
  margin-right: 1em;
  padding: 0.2em;
}

.navbar .logged-out a {
  font-size: small;
  margin-left: 1.3em;
  text-transform: lowercase;
  transition: all 0.1s;
}

.navbar .logged-out a:hover {
  transform: translateY(-0.2em);
}

.navbar .logged-in {
  display: flex;
  margin-right: 1em;
  margin-top: 0.8em;
  transform: scale(1);
  transition: all 0.3s;
}

.navbar .logged-in span:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Landing styles */
.landing h2 {
  font-size: medium;
}

/* Login and signup styles */
.auth {
  align-items: center;
  display: flex;
  justify-content: center;
}

.auth form {
  background: var(--frosted-panel-bg-1);
  border-radius: 1em;
  margin-top: -20em;
  min-width: 16em;
  padding: 2em;
}

.auth form * {
  display: block;
  margin-top: 1em;
}

.auth form h3 {
  margin-bottom: 2em;
}

.auth form label {
  font-weight: bold;
}

.auth * input {
  background-color: var(--frosted-input-bg);
  border: none;
  border-radius: 0.2em;
  min-width: 16em;
}

.auth * input:focus {
  background-color: var(--frosted-input-em);
  font-weight: bold;
  outline: none;
}

.auth form button {
  background: var(--frosted-input-bg);
  border-radius: 1em;
  border-style: none;
  font-weight: bold;
  margin-top: 3em;
  min-width: 6em;
  padding: 0.5em 1em 0.5em 1em;
  text-transform: uppercase;
  transition: all 0.2s;
}

.auth form button:hover {
  background-color: var(--frosted-input-em);
  cursor: pointer;
  transform: translateY(-3px);
}

/* Dash styles */
.dash-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: -1em;
  margin-top: -0.6em;
}

.dash hr {
  background: var(--frosted-panel-bg-1);
  border-radius: 1em;
  border-style: none;
  height: 3px;
}

.dash-body {
  column-gap: 1em;
  display: flex;
  padding-top: 0.6em;
}

/* Taghub styles */
.taghub {
  background: var(--frosted-panel-bg-5);
  border-radius: 1em;
  max-width: 240px;
  min-height: 100px;
  min-width: 240px;
}

.taghub ul {
  list-style-type: none;
  margin-left: -2.5em;
}

.tag {
  background: var(--frosted-panel-bg-5);
  border-radius: 0.5em;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin: 0.6em;
  padding: 0.4em;
  transition: all 0.3s;
}

.tag-div {
  inline-size: min-content;
  max-width: 10em;
  overflow-wrap: break-word;
  word-break: normal;
  pointer-events: none;
}

.len-div {
  pointer-events: none;
}

.tag:hover {
  background-color: rgba(220, 165, 30, 0.425);
  transform: translateX(0.2em);
}

.active {
  background-color: rgba(220, 165, 30, 0.825);
}

.active:hover {
  background-color: rgba(233, 186, 68, 0.825);
}

/* Booru styles */
.booru-main {
  align-content: space-between;
  border-radius: 1em;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0.8em;
}

.booru-grid {
  align-content: start;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.4em;
  width: 100%;
}

.booru-grid a {
  padding: 0.4em;
}

.thumbnail {
  background: var(--transparent);
  border-radius: 1em;
  display: flex;
  font-weight: bold;
  height: 10em;
  justify-content: center;
  margin: 0.2em;
  padding: 0.2em;
  transition: all 0.2s;
  width: 10em;
}

.thumbnail:hover {
  cursor: pointer;
  scale: 1.08;
}

.thumb-img {
  border-radius: 0.6em;
  max-height: 10em;
  max-width: 10em;
  object-fit: cover;
}

.thumb-ldr {
  margin-top: 4em;
}

.banner-upload {
  font-size: xx-large;
  padding-top: 0.55em;
  transition: all 0.1s;
}

.banner-upload:hover {
  cursor: pointer;
  /* transform: scale(1.2); */
}

.booru-search {
  font-size: xx-large;
  padding-top: 0.55em;
  transition: all 0.1s;
}

.booru-search:hover {
  cursor: pointer;
  /* transform: scale(1.2); */
}

.booru-search-bar {
  background-color: var(--frosted-input-bg);
  border: none;
  border-radius: 0.8em;
  bottom: 0.6em;
  margin: 1em;
  min-height: 2em;
  min-width: 20em;
  position: relative;
}

/* Banner styles */
.banner {
  display: block;
}

.banner-img {
  border-radius: 2em;
  filter: drop-shadow(0 0.8em 2em var(--frosted-input-em));
  max-height: 300px;
  min-height: 200px;
  object-fit: cover;
  width: 100%;
}

.banner-default {
  background-image: var(--frosted-steel-2);
  border-radius: 1em;
}

.banner-default-text {
  /* TODO - Should make padding and element height responsive */
  align-content: center;
  display: flex;
  justify-content: center;
  transform: translate(0, 6.4em);
}

.banner-ldr {
  left: 50%;
  position: absolute;
  top: 18%;
  transform: translate(-50%, -50%);
}

/* Image styles */
.image-view {
  padding: 1em;
}

.image-full {
  max-height: 70vh;
  max-width: 80vw;
  object-fit: contain;
}

.image-full:hover {
  cursor: pointer;
}

.image-maxed {
  min-height: 100%;
  min-width: 100%;
  object-fit: contain;
}

.image-maxed:hover {
  cursor: pointer;
}


.image-details {
  background-image: var(--frosted-panel-bg-3);
  border-radius: 1em;
  margin-top: 1em;
  padding: 1em;
  width: 30em;
}

.image-details:hover {
  cursor: pointer;
}

.image-detail {
  display: flex;
  justify-content: space-between;
  margin-top: -1em;
}

.image-footer {
  border-radius: 0.2em;
  display: flex;
  justify-content: space-between;
  padding: 0em 1em 0em 1em;
  width: 30em;
}

.image-footer span {
  position: relative;
  right: -0.3em;
  top: 0.6em;
  transition: all 0.1s;
}

.image-footer span:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* TODO - There are a lot of duplicate CSS statements below which should really be streamlined into a generic modal class */
/* Modal styles */
.banner-modal {
  background-image: var(--frosted-steel-1);
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
  filter: drop-shadow(0 0 0.1em black);
  height: 200px;
  padding: 2em;
  position: fixed;
  right: 0em;
  top: 1em;
  width: 460px;
}

.banner-modal label {
  font-weight: bold;
}

.banner-modal input[type="file"] {
  background: var(--frosted-input-bg);
  border-radius: 1em;
  color: var(--font-default);
  font-size: medium;
  font-weight: bold;
  margin-left: 1em;
  margin-top: 1em;
  padding: 0.2em;
  transition: all 0.2s;
}

.banner-modal input[type="file"]::before {
  background-color: rgba(200, 200, 255, 0.1);
  content: "Browse";
  margin-left: -0.2em;
  margin-right: 1em;
  padding: 1em;
}

.banner-modal input[type="file"]:hover {
  content: "Browse";
  cursor: pointer;
  transform: translateX(0.2em);
}

.banner-file-select {
  color: white;
}

.banner-file-select::file-selector-button {
  content: "Browse";
  display: none;
  padding: 1em;
}

.banner-modal-btn {
  background: var(--frosted-input-bg);
  border-radius: 1em;
  border-style: none;
  font-weight: bold;
  margin-top: 2em;
  min-width: 6em;
  padding: 0.5em 1em 0.5em 1em;
  text-transform: uppercase;
  transition: all 0.2s;
}

.banner-modal-btn:hover {
  background-color: var(--frosted-input-em);
  cursor: pointer;
  font-weight: bold;
  transform: translateY(-3px);
}

.image-modal {
  background-image: var(--frosted-steel-1);
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
  filter: drop-shadow(0 0 0.1em black);
  height: 260px;
  padding: 2em;
  position: fixed;
  right: 0em;
  top: 1em;
  width: 460px;
}

.image-modal label {
  font-weight: bold;
}

.image-modal input[type="file"] {
  background: var(--frosted-input-bg);
  border-radius: 1em;
  color: var(--font-default);
  font-size: medium;
  font-weight: bold;
  margin-left: 1em;
  margin-top: 1em;
  padding: 0.2em;
  transition: all 0.2s;
}

.image-modal input[type="file"]::before {
  background-color: rgba(200, 200, 255, 0.1);
  content: "Browse";
  margin-left: -0.2em;
  margin-right: 1em;
  padding: 1em;
}

.image-modal input[type="file"]:hover {
  content: "Browse";
  cursor: pointer;
  transform: translateX(0.2em);
}

.image-file-select {
  color: white;
}

.image-file-select::file-selector-button {
  content: "Browse";
  display: none;
  padding: 1em;
}

.image-modal input[type="text"] {
  background-color: var(--frosted-input-bg);
  border: none;
  border-radius: 0.8em;
  min-height: 2em;
  min-width: 26em;
  padding-left: 1em;
  padding-right: 1em;
}

.image-modal input[type="text"]::placeholder {
  color: var(--font-default);
}

.image-modal input[type="text"]:focus {
  background-color: var(--frosted-input-em);
  font-weight: bold;
  outline: none;
}

.image-modal-btn {
  background: var(--frosted-input-bg);
  border-radius: 1em;
  border-style: none;
  font-weight: bold;
  margin-top: 2em;
  min-width: 6em;
  padding: 0.5em 1em 0.5em 1em;
  text-transform: uppercase;
  transition: all 0.2s;
}

.image-modal-btn:hover {
  background-color: var(--frosted-input-em);
  cursor: pointer;
  font-weight: bold;
  transform: translateY(-3px);
}

.modal-exit {
  align-items: center;
  border-radius: 1em;
  display: flex;
  height: 30px;
  justify-content: center;
  position: absolute;
  right: 1em;
  top: 1em;
  transition: all 0.2s;
  width: 30px;
}

.modal-exit:hover {
  cursor: pointer;
  scale: 1.1;
}

.rename-modal {
  max-height: 165px;
}

.rename-modal button {
  margin-top: 1.7em;
}

/* Control panel */
.control-panel {
  background-image: var(--frosted-steel-1);
  filter: drop-shadow(0 0 0.1em var(--frosted-gray-3));
  height: 100vh;
  padding: 2em;
  position: fixed;
  right: 0em;
  top: 0em;
  width: 13em;
}

.control-panel span {
  color: var(--font-default);
  filter: drop-shadow(0px 0px 6px var(--frosted-input-em));
}

.panel-title {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 2em;
  padding-bottom: 1em;
  scale: 3;
}

.panel-entry {
  background: var(--frosted-panel-bg-1);
  border-radius: 1em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: -1em;
  margin-right: -1em;
  padding-bottom: 1px;
  padding-left: 1em;
  padding-top: 1px;
  transition: all 0.3s;
}

.panel-entry:hover {
  cursor: pointer;
  scale: 1.05;
}

.panel-list .exit {
  display: flex;
  justify-content: space-between;
  padding: 0.35em 0.35em 0em 0.35em;
  width: 110%;
}

.panel-list .exit p {
  margin-left: 0.4em;
  margin-top: 0.7em;
  padding: 0.2em;
}

.panel-list .exit span {
    margin-right: 0.2em;
    margin-top: 0.5em;
}

/* Auxiliary styles */
.content {
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  min-height: 100vh; /* TODO - Can I connect this to a media query? */
}

.exit {
  background-color: var(--important);
}

.justify-center {
  justify-content: center;
}

/* Animations */
@keyframes unfold {
  from {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes slide_out {
  from {
    transform: translateX(20em);
  }
  to {
    transform: translateX(0em);
  }
}

@keyframes fold_out {
  from {
    transform: translateX(40em);
  }
  to {
    transform: translateX(0em);
  }
}

.auth form {
  animation-duration: 0.6s;
  animation-name: unfold;
}

.banner-modal {
  animation-duration: 0.6s;
  animation-name: fold_out;
}

.image-modal {
  animation-duration: 0.6s;
  animation-name: fold_out;
}

.control-panel {
  animation-duration: 0.6s;
  animation-name: slide_out;
}