@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Light theme "Soma" (default) */

:root {
  --error: #ffefef;
  --transparent: rgba(255, 255, 255, 0);
  --font-default: rgb(40, 40, 40);
  --frosted-gray-1: rgba(220, 220, 220, 1); /* Main app background */
  --frosted-gray-2: rgba(190, 190, 190, 1); /* Header and footer, modals*/
  --frosted-gray-3: rgba(170, 170, 170, 1); /* Buttons and nested modal elements */
  --frosted-gray-em: rgba(40, 20, 80, 0.2);
  --frosted-input-bg: rgba(60, 60, 220, 0.2);
  --frosted-input-em: rgba(60, 60, 220, 0.3);
}

/* Universal styles */
* {
  font-family: "Quicksand";
  color: var(--font-default);
}

body {
  overflow: hidden; /* TEMP - Prevents body scrolling on modal render */
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--frosted-gray-1);
  /* TODO - What do the below lines do? */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header styles */
header {
  padding-bottom: 0.5em;
  transition: all 0.1s;
  background-color: var(--frosted-gray-2);
}

header:hover {
  background-color: var(--frosted-gray-em);
}

/* Footer styles */
footer {
  text-transform: lowercase;
  position: fixed;
  bottom: 0vh;
  width: 100%;
  font-size: small;
  transition: all 0.1s;
  background-color: var(--frosted-gray-2);
}

footer:hover {
  background-color: var(--frosted-gray-em);
}

footer h4 { /* TODO - Temp selector */
  text-align: center;
}

/* Navbar styles */
.navbar {
  margin-bottom: 0.6em;
  min-height: 2em;
  max-height: 2em;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
}

.navbar .title {
  font-size: x-small;
  margin-left: 1.6em;
  transition: all 0.1s;
}

.navbar .title:hover {
  transform: translateY(-0.2em);
}

.navbar .logged-out {
  display: flex;
  margin-right: 1em;
  padding: 0.2em;
}

.navbar .logged-out a {
  text-transform: lowercase;
  font-size: small;
  margin-left: 1.3em;
  transition: all 0.1s;
}

.navbar .logged-out a:hover {
  transform: translateY(-0.2em);
}

.navbar .logged-in {
  display: flex;
  margin-right: 1em;
  margin-top: 0.8em;
  transition: all 0.3s;
  transform: scale(1);
}

.navbar .logged-in span:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Landing styles */
/* .landing {
  min-height: 800px;
} */

.landing h2 { /* TODO - Temp selector */
  font-size: medium;
}

/* Login and signup styles (?) */
.login {
  /* align-items: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.login form {
  padding: 2em;
  margin-top: -20em;
  min-width: 16em;
  background-color: var(--frosted-gray-2);
  border-radius: 1em;
}

.login form * {
  display: block;
  margin-top: 1em;
}

.login form h3 {
  margin-bottom: 2em;
}

.login form label {
  font-weight: bold;
}

.login * input {
  background-color: var(--frosted-input-bg);
  border: none;
  min-width: 16em;
  border-radius: 0.2em;
}

.login * input:focus {
  background-color: var(--frosted-input-em);
  outline: none;
  font-weight: bold;
}

.login form button {
  background-color: var(--frosted-gray-3);
  text-transform: uppercase;
  min-width: 6em;
  transition: all 0.2s;
  border-style: none;
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 3em;
  border-radius: 1em;
}

.login form button:hover {
  background-color: var(--frosted-input-em);
  transform: translateY(-3px);
  cursor: pointer;
  font-weight: bold;
}

.banner-file-select {
  color: white;
}

.banner-modal input[type="file"] {
  font-size: medium;
  padding: 1em;
  margin-left: 1em;
  background-color: var(--frosted-gray-2);
  /* border-radius: 2em; */
}

.banner-modal input[type="file"]::before {
  content: "Browse";
  padding: 1em;
  margin-right: 1em;
  /* border-radius: 2em; */
  background-color: rgba(200, 200, 255, 0.1);
}

.banner-modal input[type="file"]:hover {
  content: "Browse";
  color: rgba(255, 255, 255, 0.8);
}

.banner-file-select::file-selector-button {
  padding: 1em;
  content: "Browse";
  display: none;
}

/* TODO - Lots of duplicate styling happening here */

.banner-modal-btn { /* Temporarily copy-pasted from login form button styles */
  background-color: var(--transparent);
  text-transform: uppercase;
  min-width: 6em;
  transition: all 0.2s;
  border-style: outset;
  border-color: white;
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 2em; /* margin-top differs from login form button styles */
}

.banner-modal-btn:hover {
  background-color: rgba(200, 200, 255, 0.02);
  transform: translateY(-3px);
  cursor: pointer;
  font-weight: bold;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup form {
  border: solid 2px white;
  padding: 2em;
  margin-top: -20em;
  min-width: 16em;
}

.signup form * {
  display: block;
  margin-top: 1em;
}

.signup form button {
  margin-top: 2em;
  background-color: black;
}

.banner {
  display: block;
}

.banner-img {
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  object-fit: cover;
}

.banner-upload {
  padding-top: 0.55em;
  font-size: xx-large;
  transition: all 0.1s;
}

.banner-upload:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

.banner-ldr {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-modal {
  position: absolute;
  top: 1em;
  /* left: 1em; */
  right: 1em;
  background-color: var(--frosted-gray-2);
  padding: 2em;
  border-radius: 1em;
  width: 40%; /* TEMP */
  filter: drop-shadow(0 0 0.2em black);
}

.image-modal {
  position: absolute;
  top: 1em;
  /* left: 1em; */
  right: 1em;
  background-color: black;
  padding: 2em;
  border: 2px solid white;
  width: 40%; /* TEMP */
}

.dash-head {
  display: flex;
  justify-content: space-between;
  margin-top: -0.6em;
  margin-bottom: -1em;
}

/* Modal styles */

/* Control panel */
.control-panel {
  position: absolute;
  top: 0em;
  right: 0em;
  background-color: var(--frosted-gray-2);
  padding: 2em;
  /* border-left: 1px solid var(--font-default); */
  width: 15%; /* TEMP */
  height: 100vh; /* TEMP */
  /* border-top-left-radius: 1em; */
  filter: drop-shadow(0 0 0.2em var(--frosted-gray-3));
}

.control-panel span {
  color: rgb(40, 40, 40);
}

.panel-title {
  display: flex;
  justify-content: center;
  /* text-transform: uppercase;
  letter-spacing: 3px; */
  scale: 3;
  padding-bottom: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.panel-entry {
  border-top: 1px solid var(--font-default);
  padding-top: 1px;
  padding-left: 1em;
  margin-left: -2em;
  margin-right: -2em;
  transition: all 0.3s;
  background-color: var(--transparent);
}

.panel-entry:hover {
  transform: translateY(-3px);
  cursor: pointer;
  font-weight: bold;
  /* background-color: var(--frosted-gray-em); Borrowed from login form button */
}

.panel-bookend {
  border-top: 1px solid var(--font-default);
  margin-left: -2em;
  margin-right: -2em;
}

/* Auxiliary styles */
.content {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  min-height: 100vh; /* TODO - Can I connect this to a media query? */
}

/* Animation testing */
@keyframes login_anim {
  from {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes panel_anim {
  from {
    transform: translateX(20em);
  }
  to {
    transform: translateX(0em);
  }
}

.login form {
  animation-name: login_anim;
  animation-duration: 0.6s;
}

.signup form {
  animation-name: login_anim;
  animation-duration: 0.6s;
}

.banner-modal {
  animation-name: login_anim;
  animation-duration: 0.6s;
}

.control-panel {
  animation-name: panel_anim;
  animation-duration: 0.6s;
}